<div id="sidebar" class="span3">
        <ul class="nav nav-list bs-docs-sidenav" style="display: block;">
           
            <li><a href="{{ path('fos_user_profile_show') }}">Information personnelles</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Editer mes information personnelles</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se Deconnecter</a></li>
            
        </ul>
    </div>