{% extends 'BackOfficeBundle::layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="span9" id="mainCol">
            <ul class="breadcrumb">
                <li><a href="">DashBoard</a> <span class="divider">/</span></li>
                <li class="active">{{ titre_page }}</li>
            </ul>
            <h3> {{ titre_page }}</h3>
        </div>

        <div class="span3">
            <ul class="nav">
                <li>
                    <a href="{{ path('Back_office_ajouterproduit') }}"></a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
